{% extends "email-base.html" %} {% block email_content %}
<!-- subject -->
<div style="text-align: center">
  <h3>{{subject}}</h3>
</div>

<p>Hello <strong>{{project.owner.full_name}}</strong>,</p>
<div style="margin: 6px 0">
  <p>
    We're pleased to inform you that your recent update has been successfully
    implemented:
  </p>
  <div>
    <p style="margin: 3px 0">
      Created Date:
      <span style="color: #1976d2"> {{project.created}}</span>
    </p>
    <p style="margin: 3px 0">
      Updator Name:
      <span style="color: #1976d2"> {{updator.full_name}}</span>
    </p>
    <p style="margin: 3px 0">
      Update Date:
      <span style="color: #1976d2"> {{info_updated.date}}</span>
    </p>
    
  </div>
  <p>
    Your project has been transitioned from
    <span style="color: #1976d2"> {{project.name}} </span>to
    <span style="color: #1976d2"> {{info_updated.name}}</span>.
  </p>
  <p>
    Thank you for choosing
    <strong style="color: #1976d2">Port.Tools </strong>as your project monitor
    service. If you have any further questions or need any assistance, please
    feel free to contact us
  </p>
</div>
<div style="margin: 5px 0">
  <!-- Social -->
  <p>Best regards,</p>
  <p>The PORT.TOOLS Team</p>
</div>
<div style="margin-top: 20px;">
  <div>
    <p style="margin-bottom: 10px; text-align:center;">Let's follow us to know more information:</p>
  </div>
  <div style="text-align:center";>
    <a href="#" style="display: inline-block; margin-right: 10px">
      <img src="https://port.tools/static/email/linked.png" />
    </a>
    <a href="#" style="display: inline-block; margin-right: 10px">
      <img src="https://port.tools/static/email/twitter.png" />
    </a>
    <a href="#" style="display: inline-block">
      <img src="https://port.tools/static/email/facebook.png" />
    </a>
  </div>
</div>
{% endblock email_content %}
