{% extends "email-base.html" %} {% block email_content %}

<div style="display: flex; text-align: center; justify-content: center">
  <h3 style="width: 80%">{{subject}}</h3>
</div>

<p>Hi <strong>{{creator.name}}</strong>,</p>
<div style="margin: 6px 0">
  <p>
    We're excited to inform you that your invitation has been accepted.
    <strong style="color: #1976d2"> {{member.name}} </strong>
    has officially joined your
    <strong style="color: #1976d2"> {{project}}'s </strong> project.
  </p>
  <p>
    Thank you for extending the invitation, and we're looking forward to a
    successful collaboration within the project.
  </p>
  <p>
    If you have any specific instructions or details to share with
    <strong style="color: #1976d2"> {{member.email}} </strong>
    please contact them.
  </p>
  <p>
    As always, if you have any questions or need assistance, don't hesitate to
    reach out to our support team.
  </p>
  <p>Looking forward to achieving great things together!</p>
</div>
<div style="margin: 5px 0">
  <!-- Social -->
  <p>Best regards,</p>
  <p>The PORT.TOOLS Team</p>
</div>
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
  "
>
  <div>
    <p style="margin-bottom: 10px">Let's follow us to know more information:</p>
  </div>
  <div>
    <a href="#" style="display: inline-block; margin-right: 10px">
      <img
        src="https://port.tools/static/email/linked.png"
      />
    </a>
    <a href="#" style="display: inline-block; margin-right: 10px">
      <img
        src="https://port.tools/static/email/twitter.png"
      />
    </a>
    <a href="#" style="display: inline-block">
      <img
        src="https://port.tools/static/email/facebook.png"
      />
    </a>
  </div>
</div>
{% endblock email_content %}
