{% extends "email-base.html" %} {% block email_content %}
<!-- subject -->
<div style="text-align: center">
  <h3>{{subject}}</h3>
</div>

<p>Hi <strong>{{member.name}}</strong>,</p>
<div style="margin: 6px 0">
  <p>
    We're reaching out to inform you about an important update regarding your
    role within the
    <span style="color: #1976d2"> {{project}}'s</span> project.
  </p>
  <p>Role Update Details:</p>
  <div>
    <p style="margin: 3px 0">
      Project:
      <span style="color: #1976d2"> {{project}}</span>
    </p>
    <p style="margin: 3px 0">
      Previous Role:
      <span style="color: #1976d2"> {{member.previous_role}}</span>
    </p>
    <p style="margin: 3px 0">
      New Role:
      <span style="color: #1976d2"> {{member.new_role}}</span>
    </p>
    <p style="margin: 3px 0">
      Update Role:
      <span style="color: #1976d2"> {{member.update_date}}</span>
    </p>
  </div>
  <p>
    This change reflects the evolution of roles within the project. If you have
    any questions, please feel free to contact us.
  </p>
  <p>We would love to hear from you and see your amazing project.</p>
  <p>
    Thank you for choosing
    <strong style="color: #1976d2">Port.Tools </strong> as your project monitor
    service.
  </p>
</div>
<div style="margin: 5px 0">
  <!-- Social -->
  <p>Best regards,</p>
  <p>The PORT.TOOLS Team 🌟</p>
</div>
<div style="margin-top: 20px;">
  <div>
    <p style="margin-bottom: 10px; text-align:center;">Let's follow us to know more information:</p>
  </div>
  <div style="text-align:center";>
    <a href="#" style="display: inline-block; margin-right: 10px">
      <img
        src="https://port.tools/static/email/linked.png"
      />
    </a>
    <a href="#" style="display: inline-block; margin-right: 10px">
      <img
        src="https://port.tools/static/email/twitter.png"
      />
    </a>
    <a href="#" style="display: inline-block">
      <img
        src="https://port.tools/static/email/facebook.png"
      />
    </a>
  </div>
</div>
{% endblock email_content %}

