{% extends "email-base.html" %} {% block email_content %}

<div style="text-align: center">
  <h3>{{subject}}</h3>
</div>

<p>Dear <strong>{{user.full_name}}</strong>,</p>
<div style="margin: 6px 0">
  <p>
    Welcome to
    <strong style="color: #1976d2">PORT.TOOLS's Monitoring Service</strong>
    ! We're here to help you monitor your projects effectively.
  </p>

  <p>
    But there's one important step you need to take:
    <strong>Subscribe to a Project</strong>. By subscribing, you'll gain access
    to all the monitoring tools and features you need to stay informed.
  </p>

  <p>
    Don't miss out on the benefits. Take a moment to subscribe now and start
    monitoring your projects with confidence:
  </p>

  <div style="text-align: center;">
    <a
      href="{{link_subscription}}"
      style="
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(76, 175, 80);
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
      "
      >Subscribe Now</a
    >
  </div>

  <p>
    If you have any questions or need assistance, our support team is ready to
    assist you. Simply reply to this email, and we'll be in touch.
  </p>

  <p style="font-weight: bold; color: #1976d2">OTP: {{raw_code}}</p>
  <p>
    This OTP is valid for the next {{exprired}} minutes and is a crucial part of
    our two-factor authentication process. Remember, never share this OTP with
    anyone, including PORT.TOOL's staff.
  </p>
  <p>
    Thank you for choosing
    <strong style="color: #1976d2">PORT.TOOLS</strong> for your needs.
  </p>
</div>
<div style="margin: 5px 0">
  <!-- Social -->
  <p>Best regards,</p>
  <p>The PORT.TOOLS Team</p>
</div>
<div style="margin-top: 20px">
  <div>
    <p style="margin-bottom: 10px; text-align: center">
      Let's follow us to know more information:
    </p>
  </div>
  <div style="text-align: center" ;>
    <a href="#" style="display: inline-block; margin-right: 10px">
      <img src="https://port.tools/static/email/linked.png" />
    </a>
    <a href="#" style="display: inline-block; margin-right: 10px">
      <img src="https://port.tools/static/email/twitter.png" />
    </a>
    <a href="#" style="display: inline-block">
      <img src="https://port.tools/static/email/facebook.png" />
    </a>
  </div>
</div>
{% endblock email_content %}
