.maincontent {
    flex            : 9;
    margin-left     : 256px;
    margin-top      : 60px;
    width           : 100%;
    padding         : 2.4rem;
    background-color: #fff;
}

::-webkit-scrollbar {
    display: none;
}